@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
  }

 :root {
  --bs-primary: #E65100;
  --bs-secondary: #FFB300;    /* jaune */
  --bs-light: #FFF3E0;        /* fond clair */
  --bs-dark: #333333;
  --bs-blue: #4338CA;
}

.bg-yellow {
  background-color: var(--bs-light);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-contact{
  background-color: var(--bs-blue);
  color: #fff;
}

.bg-box-service{
  background-color: #fff1BF;
}

.bg-box-service-2{
  background-color: var(--bs-light);
}

.btn-primary:hover {
  background-color: #cf4a00;
  border-color: #cf4a00;
}

.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

.text-primary {
  color: #E65100 !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.navbar .nav-link {
  font-size: 0.875rem;
  color: #333;
}

.navbar .nav-link.active {
  color: var(--bs-primary);
  border-bottom: 2px solid var(--bs-primary);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

.form-control:focus-visible,
.form-select:focus-visible {
  outline: 2px solid var(--bs-primary);
  outline-offset: 2px;
  box-shadow: none;
  border: none;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: #d94d00;
  border-color: #d94d00;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #cf4a00;
  border-color: #cf4a00;
}

.btn-primary:focus,
.btn-primary:focus-visible {
  box-shadow: 0 0 0 0.2rem rgba(230, 81, 0, 0.35);
}

.icone-circle {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-primary);
  color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
}

.bg-footer {
  background-color:#111828;
}

.footer-link {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-link:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}

/* PAGE ACCUEIL */
.banner{
    background-image: url("images/banner-head-accueil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 65vh;
    color: #fff;
    position: relative;
}

.banner .overlay {
      position: absolute;
      inset: 0;
      background-color: var(--bs-primary);
      opacity: 0.9;
      z-index: 2;
      mix-blend-mode: multiply;
  }

.contenu{
    position: relative;
    z-index: 3;
  }

.img-badge{
    position: absolute;
    top: 60px;
    right: 80px;
    background: #dcfce7;
    color: var(--bs-primary);
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

.image-banner {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.cta{
    background-image: url("images/banner-head-accueil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40vh;
    color: #fff;
    position: relative;
}

.cta .overlay {
      position: absolute;
      inset: 0;
      background-color: var(--bs-primary);
      opacity: 0.8;
      z-index: 2;
      mix-blend-mode: multiply;
  }

.contenu{
    position: relative;
    z-index: 3;
  }

  .avatar {
  width: 45px;
  height: 45px;
  color: #000;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border:  1px solid var(--bs-secondary);
}

.avatar.bg-1{
  background-color: var(--bs-light);
}

.avatar.bg-2{
  background-color: var(--bs-primary);
}

.avatar.bg-3{
  background-color: var(--bs-secondary);
  color: #fff;
}

.avatar.bg-4{
  background-color: #1c971c;
}

.rating i {
  color: var(--bs-secondary);
   font-size: 0.85rem;
}

 .rating.t-3 i:last-child {
      color: #999;
  }

.box-shadow {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

/* PAGE TRAITEUR */
.banner-traiteur{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8),rgba(133, 56, 14, 0.747)), url("images/banner-caterers.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.traiteur{
  background-color: #f6f1de;
  min-height: 100vh;
}

.card-image {
  position: relative;
  width: 240px;
  height: 200px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Badge */
.badge-image {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #dcfce7;
  color: #166534;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

/* DETAIL TRAITEUR */

.detail-traiteur{
  background-image: url("images/pattern-background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* min-height: 100vh; */
}
.detail-traiteur img{
    width: 100%;
    position: relative;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.detail-traiteur .text-image{
    position: absolute;
    top: 90%;
    left: 2%;
    color: #fff;
    font-size: 0.75rem /* 12px */;
}

.detail-traiteur .text-image .notes i{ 
    color: var(--bs-secondary);
    font-weight: bold;
}

.detail-traiteur .text-image .check{ 
    margin-left: 10px;
}

.detail-traiteur .text-image .check i{ 
    color: #166534;
    font-weight: bold;
}

/* PAGE INSCRIPTION TRAITEUR */
input::file-selector-button {
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: var(--bs-light);
    color: var(--bs-primary);
}


@media (max-width: 768px){
    .image-banner{
        width: 350px;
        height: 250px;
        object-fit: cover;
    }

    .img-badge {
        top: 210px;
        right: 40px;
    }

    .carte iframe {
        width: 100%;
    }

  .card-image {
    position: relative;
    min-width: 365px;
    height: 200px;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
